body,
body * {
  all: unset;
  box-sizing: border-box;
  display: flex;
}

html,
body {
  align-items: center;
  background-color: #4040ff;
  color: #fff;
  flex-direction: column;
  font: 400 16px -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, system-ui, sans-serif;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

h1,
footer {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: .5rem;
}

p {
  padding: 0 1rem;
  text-align: center;
}

a:is(:hover, :focus) {
  cursor: pointer;
  text-decoration: underline;
}

img {
  width: 1.75rem;
}
